html {
    scroll-behavior: smooth;
}

a:hover {
    color: green;
}

/* Need to work on media queries */

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.jumbotron {
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
    background-color: white;
}

#jumbo2 {
    background-color: white;
}

.about img {
    width: 100%;
}

/* landing page */

.home-inner {
    background-image: url(img/contactbkgrd.jpg);
}

#contact {}

#contactForm {
    color: white;
    text-align: center;
    display: flex;
}

.email {
    width: 250px;
}

.subject {
    width: 250px;
}

.message {
    height: 150px;
    width: 100%;
}

form {
    margin: auto;
}

#galleryPic {
    border: .2rem solid rgb(15, 87, 15);
}

/* #me {
    transform: rotate(270deg);
  } */

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}

label,
input,
textarea {
    display: block;
}

footer {
    background-image: url(img/sandyClasses.jpg);
    background-repeat: no-repeat;
    height: 1280;
    width: 960;
    background-size: cover;
    color: white;
    text-align: center;
}